@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,700;1,700&display=swap');

body{
    margin: 0;
    padding: 0;
}

:root{
    --color-black:#000000;
    --color-white:#ffffff;
    --color-border:#ffffff34;
    --font-size :'Playfair Display', serif;
    --font-Raleway :'Raleway', sans-serif;
    --font-tow :'Volkhov', serif;

}
/*globle classes */

.font-size{
    font:normal 400 25px var(--font-size);
}
.font-Raleway{
    font:normal bold 20px var(--font-Raleway);
}
.font-tow{
    font:normal bold 20px var(--font-tow);
}
.font-size-40{
    font-size: 40px;
}
.font-size-34{ font-size: 34px;}
.font-size-20{ font-size: 20px;}
.font-size-27{
    font-size: 27px;
}
.font-size-16{
    font-size: 16px;
}

.gbcolor-black{
    background-color: var(--color-black);
}
/* gb clasees*/

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: left .5s ease;
   
}
#header nav{
    height: 100vh;
    
}
#header .site-title .navbar-brand{ 
    letter-spacing: 2px;
    color:var(--color-white);
}
#header .nav-link{
     margin: .7rem 1rem;
border-bottom: 1px solid var(--color-border);
}

#header .site-title .social-links a{
    font-size: 18px;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
   transition: 6s;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
    box-shadow: 0 5px 4px rgba(98, 155, 165, 0.473); 
    
    
}
#header .site-title .social-links a i{
    font-size: 20px;
}

#header .site-title .social-links a:hover{
   
    transform: translate(0,-15px);
    color: #fff;
}
#header .site-title .social-links a:nth-child(1):hover  {
    background-image: linear-gradient(to top, #396afc 0%, #2948ff 100%);
    transform: translate(0,15px);
}

#header .site-title .social-links a:nth-child(3):hover  {
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    transform: translate(0,15px);
}
#header .site-title .social-links a:nth-child(4):hover  {
    background-image: linear-gradient(to top, #7be2ff 0%, #0072b1 100%);
    transform: translate(0,-15px);
}

#header .nav-link:hover{
text-transform: uppercase;
color: var(--color-white) !important;
}

#header .toggle-button{
background: none;
color: var(--color-black);
position: fixed;
top: 25px;
right: 20px;
border: 1px solid var(--color-border);
}

.gbcolor{
    background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);}
.toggle-left{
    left: 0 !important;
    width: 1000px !important;
}

/*main section*/
.site-banner .banner-area{
    background: url(./assets/bg1.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.site-banner .banner-area .author{
    margin: 0;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,50%);
    color: var(--color-black);
}
@keyframes fade-in-1{
    0%{
        transition: translate(-160%);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translate(0)  ;
    }
}
.site-banner .banner-area .author .fade-in-1{
    animation: fade-in-1 .6s .4s;
    animation-fill-mode: backwards;
}


#work .py-3 h5 button{
    color: blue;
    transition: all .8
    
}
 
#work .py-3 h5 button:hover{
    font-size: 200px;
    color: blueviolet;
}

#work .row div img{
   box-shadow: 0 5px 15px rgba(0, 0, 0, 1);

}

.site-banner .banner-area .author .author-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    background:url(./assets/img1.jpeg)no-repeat ;
    background-size: 259px;
    background-position:44% -15px;
}
    
}
.site-banner .banner-area .author h5{
    color: var(--color-black);
}

#footer form .row .col input[ type="text"],
#footer form .row .col input[ type="email"],
#footer form   textarea{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid gray;
    padding: 1.5rem 1rem;
    justify-content: space-between;   
}

#about .row #hado #btn1:hover {
   
    background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);} 
  

    #about .row #hado #btn2:hover {
      
        
        background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);    }
       
        #serveres .do .row div .panel{
            border-radius: 15px;
        }

        #serveres .do .row div .panel:hover {
            background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
            transform: scale(1.1);
            box-shadow: 0px 0px 50px #000000;
            z-index: 2;
            
            
        }



        #lestproject .row .card:hover .card-body {
            height:0em;
             padding:0px 1em;
                display: none;
                z-index: 99999;
                cursor: pointer;
        }
        #lestproject .row .card:hover .card-img-top {
            height:18em;
                
        }
        #work .row .dab img{}
        
        #work .row .dab #play {   
            cursor: pointer;
            transition: .5s;
            position: relative !important;
            left: 41%  !important;
            top: -55% !important;
            opacity: 0 !important;
            color:  #ee609c !important;
        }

        #work .row .dab #play:hover {
            opacity: 1 !important;
            
  
        }

       


/* to despaly icon*/

@media screen and (min-width: 768px){
    .toggle-button{
        display: none;
    }#header{
        z-index:0;
    }
}
.mt-n1 {
    margin-top: -0.85rem !important;
  }

.bars .bar-1 .progress .progress-bar {
    transition: unset;
  }


@-webkit-keyframes animate-positive{
    0% { width: 0%; }
}
@keyframes animate-positive{
    0% { width: 0%; }
}

/* animaton for picture * / 